#header {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    color: blue;
    padding: 2vh 2vw;
}

#nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    color: red;
}

#page {
    margin: 3vh 2vw;
}

a {
    text-decoration: none;
}